<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not Found</title>
</head>
<style>
*{
    font-family:'Hack';
    text-align:center;
}
</style>
<body>
<div>
    The Gods of Lodgerman says:
    </div>
    <h1>What are you looking for here? </h1>
    <h4>There is nothing here for you, you should exit.</h4>
</body>
</html>