<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lodgerman - Method not Allowed</title>
</head>
<style>
*{
    font-family:'Hack';
    text-align:center;

}
</style>
<body>
    <div>
    The Gods of Lodgerman says:
    </div>
    <h1>Opps! You got it all wrong</h1>
    <h4>Request should be of type {% for method in method %}
     {{ method }}

{% else %}
    <h4>POST \ GET \ PUT \ DELETE</h4>
{% endfor %} </h4>
</body>
</html>